#title{
	font-size: 26px;
	line-height: 75px;
}

.game-layout{
    display: grid;
    /*Una columna que ocupa auto, es pot indicar amb %*/
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
}

.grid-layout{
    display: grid;
    /*Una columna que ocupa auto, es pot indicar amb %*/
    grid-template-columns: auto;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
}

.menu-object{
    margin-left: auto;
    margin-right: auto;
	width: 300px;
	height: 75px;
    margin-top: 10px;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 75px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 75px;
}

/*Links*/
a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: lightblue;
}

a:hover{
    color: lightcoral;
}
